$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

.thumbnail { height: 280px !important; }
.btn-droppable { padding-left: 0px; margin-top: 2px; border: 1px solid red }
.btn-draggable { width: 114px;margin-top: 2px;clear: both }
.btn{
  padding: 1px 0px;
}
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height: 160px;
}
.controls {
  margin-bottom: 20px;
}
.page-header {
  margin-top: 20px;
}
ul {
  list-style: none;
}
.box {
  height: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
}
.box-header {
  background-color: #eee;
  padding: 0 30px 0 10px;
  border-bottom: 1px solid #ccc;
  cursor: move;
  position: relative;
}
.box-header h3 {
  margin-top: 10px;
  display: inline-block;
}
.box-content {
  padding: 10px;
}
.box-header-btns {
  top: 15px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}
a {
  color: #ccc;
}
form {
  margin-bottom: 0;
}
.gridster {
  border: 1px solid #ccc;
}
.content{
  width: 100%;
}
.thumbnail{
  width: 140px;
  float: left;
  margin-left: 2px;
}

ul{
  list-style: none;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {

  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}
