
<div class="page-header">
    <a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
    <a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
    <h1 style="display: inline-block; width: 200px;">Dashboard</h1>
    <select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | orderBy:'id'">
    </select>

</div>
<div gridster="gridsterOptions">
    <ul>
        <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
            <div class="box" ng-controller="CustomWidgetCtrl">
                <div class="box-header">
                    <h3>{{ widget.name }}</h3>
                    <div class="box-header-btns pull-right">
                        <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
                        <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </div>
                <div class="box-content container-fluid">

                  <div class="row">
                    <div class="btn btn-droppable container-full" data-drop="true" ng-model='list1'
                         jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
                        <div ng-class="list1[$index].class" ng-show="list1[$index].title"
                             data-drag="{{list1[$index].drag}}"
                             data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                            {{list1[$index].html}}
                        </div>

                    </div>


                </div>
            </div>
        </li>
    </ul>
</div>
<div>


    <div class="navbar-inner">
        <div class="container form-inline" style="text-align: center;">
            <div class="btn btn-droppable " ng-repeat="item in list2" data-drop="true" ng-model='list2'
                 jqyoui-droppable="{index: {{$index}}}">
                <div ng-class="item.class" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}"
                     ng-model="list2"
                     jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(item, $index)', onStop: 'stopCallback', onDrag: 'dragCallback'}"
                     ng-hide="!item.title">{{item.title}}
                </div>

            </div>
            <div class="btn btn-droppable " ng-repeat="item in list3" data-drop="true" ng-model='list3'
                 jqyoui-droppable="{index: {{$index}},multiple:true}">
                <div class="clearfix" ng-class="item.class" data-drag="{{item.drag}}"
                     data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list3"
                     jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(item, $index)', onStop: 'stopCallback', onDrag: 'dragCallback',placeholder: 'keep'}"
                     ng-hide="!item.title" html="{{item.html}}">{{item.title}}
                </div>
            </div>
        </div>
    </div>
</div>